@import url("./styles/text-scroll.css");
@import url("./styles/cloud-animation.css");
@import url("./styles/rainbow.css");
@import url("./styles/boxes.css");
@import url("./styles/sun.css");

body {
    margin-top: 0px !important;
    background: #a1dbff repeat;
    background: -moz-linear-gradient(top, #f0f9ff 0%, #cbebff 52%, #a1dbff 100%) repeat;
    background: -webkit-linear-gradient(top, #f0f9ff 0%, #8bcff9 52%, #cbebff 100%) repeat;
    background: linear-gradient(to bottom, #f0f9ff 0%, #8bcff9 52%, #cbebff 100%) repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1dbff', endColorstr='#f0f9ff', GradientType=0);
    overflow-x: hidden;
}

.contents {
    width: 960px;
    margin: 0.75em auto auto auto;
}

/* Rainbow Links */
.link {
    text-align: center;
    margin-top: 0.5em;
}

.link a {
    color: white;
    font-size: 1em;
    font-weight: bold;
    font-family: monospace;
}

.link a:hover {
    text-transform: uppercase;
}