@import url("./styles/text-scroll.css");
@import url("./styles/cloud-animation.css");
@import url("./styles/rainbow.css");
@import url("./styles/boxes.css");
@import url("./styles/sun.css");
@import url("./font/font.css");

body {
    margin: 0px !important;
    background: #a1dbff repeat;
    background: -moz-linear-gradient(top, #f0f9ff 0%, #cbebff 52%, #a1dbff 100%) repeat;
    background: -webkit-linear-gradient(top, #f0f9ff 0%, #8bcff9 52%, #cbebff 100%) repeat;
    background: linear-gradient(to bottom, #f0f9ff 0%, #8bcff9 52%, #cbebff 100%) repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1dbff', endColorstr='#f0f9ff', GradientType=0);
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.contents {
    width: 960px;
    margin: 0.75em auto auto auto;
}

/* Rainbow Links */
.link {
    text-align: center;
    margin-top: 0.5em;
}

.link a {
    color: white;
    font-size: 1em;
    font-weight: bold;
    font-family: monospace;
}

.link a:hover {
    text-transform: uppercase;
}

/* contents */
#main {
    color: white;
}

.info {
    color: #2e2e2e;
}

.info a {
    color: #2e2e2e;
    font-weight: 600;
    text-decoration: none;
}

.info a:hover {
    color: floralwhite;
}

.section-name {
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

/* announcement */
section#announcement{
    background: white;
    padding: 1em;
    color: white;
}

.warning {
    border: 2px solid #ffb347;
    border-radius: 3px;
    background-color: sandybrown;
    margin: 1em;
    padding: 1em;
}

/* #whoAmI */
#whoAmI {
    background-color: #ff6971;
    padding: 50px 0;
}

.contact {
    display: block;
}

/* #portfolio */
/* apps */
.portfolio.apps {
    background-color: #ffb357;
    padding: 50px 0;
}

.portfolio.apps .app{
    position: relative;
    margin: 1em 0 2em 0;
    background: white;
    border-radius: 5px;
    overflow: hidden;
}

.portfolio.apps .title {
    font-size: 24px;
    padding: 10px 0;
    font-weight: 700;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.portfolio.apps .app .description{
    position: absolute;
    bottom: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.portfolio.apps .app a img, div.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

div.app .gallery img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

/* logos */
.portfolio.logos {
    background-color: #f1f130;
    padding: 50px 0;
}

div.logo {
    background-color: white;
    margin: 1.5em 0;
    border-radius: 3px;
    position: relative;
}


div.m {
    width: 48%;
    display: inline-block;
    height: 200px;
    margin: 0;
}

div.logo.legato {
    margin-left: 3%;
}

div.logo.legato img {
    margin-top: 30px;
}

div.logo:hover {
    animation-name: logo-bg;
    animation-duration: 1s;
    background: black;
}

@keyframes logo-bg {
    from {
        background-color: white;
    }
    to {
        background-color: black;
    }
}

div.logo .title {
    background: gray;
    color: white;
    padding: 10px;
    font-weight: 400;
    position: absolute;
    top: 0;
}

div.logo .title::after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

